SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=https://your-app.example.com
SHOPIFY_API_VERSION=2026-07
SCOPES=read_products,read_customers,write_customers,read_orders,write_orders,write_order_edits,read_all_orders
SHOP_CUSTOM_DOMAIN=keraladiecastcars.myshopify.com
